<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= title %> - Welcome</title>
    <link rel="stylesheet" href="/css/index.ejs.css">
    <link rel="icon" href="/images/logo.jpg" type="image/png"> <!-- Add logo as the favicon -->
</head>
<body>
    <div class="logo-container">
        <img src="/images/logo.jpg" alt="Logo" class="logo">
    </div>
    <h1>G24Sec</h1>
    <p>Building a Cybersecurity Community ...</p>
    <div class="link-container">
        <a href="/auth/login">Sign In</a>
        <a href="/auth/signup">Sign Up</a>
        <iframe src="https://github.com/sponsors/Kyle6012/button" title="Sponsor Kyle6012" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
    </div>
</body>
</html>
